// Google Fonts import
@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat|Nunito|Open+Sans&display=swap');

// Set fonts

$family-sans-serif: "Open Sans", "Karla", "Montserrat", "Nunito", "Helvetica", "Arial", sans-serif;
$body-family: "Nunito", "Arial", sans-serif;
$title-family: "Open Sans", "Arial", sans-serif;
$subtitle-family: "Open Sans", "Arial", sans-serif;

$primary: #0277bd;
$info: #283593;
$success: #2e7d32;
$warning: #f9a825;
$danger: #c62828;

// other styles

section p {
    margin-bottom: 1em;
}

.b-space {
    margin-bottom: 1.5rem;
}


// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$subtitle-weight: $weight-semibold;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";